* {
    
    font-family: 'Open Sans', sans-serif, ;

}

.primary-button {
    background-color: #F00;
    padding: 16px 32px;
    border-radius: 10px;
    border: none;
}

/* header section */

.header-banner {
    max-width: 920px;
    height: 400px;
    background: fixed;
    background: no-repeat;
    background-position: center;
    margin: auto;
    border-radius: 16px;
    background-image: url('img/Banner\ Image.png');
    padding: 100px;
    margin-top: 30px;
    

}

.header-h4 {
    color: #0b0000;
    font-weight: 900;
    font-size: 32;
    text-align: center;
    margin-top: 50px;

}

.header-h1 {
    color: #0f0000;
    font-weight: 900;
    font-size: 72px;
    line-height: 95px;
    text-align: center;
}



/* main sart */
.discount-section {}

.discount {
    text-align: center;
}

.sub-heading {
    text-align: center;
}

.off {
    font-weight: 700;
    font-size: 88px;
    color: red;
}

.h6 {
    font-weight: 500;
    font-size: 24px;
    color: red;
}

.all-categories {
    font-weight: 700;
    font-size: 48px;
    color: black;
}

.heading {
    text-align: center;
}

.discount-img {
    text-align: center;
    margin: auto;
}



/* wellcome  */

.background-div {
    max-width: 920px;
    height: 400px;
    /* background: fixed; */
    background: no-repeat;
    background-position: center;
    margin: auto;
    border-radius: 16px;
    background-image: url('img/Vectorrr.png');
    display: flex;
    padding: 100px;
}

.wellcom-heading {
    color: #ffffff;
    font-size: 64px;
    font-weight: 900;
}


.wellcome-p {
    color: rgba(255, 255, 255, 0.80);
}


.wellcome-button {
    color: #ffffff;
    margin-left: 20px;
}



/* detail */

.detail {
    font-size: 32px;
    font-weight: 600;
    max-width: 920px;
    height: 300px;
    background: linear-gradient(to bottom, #f3b4a4, #fff8f3);
    text-align: center;
    margin-left: 100px;
    margin-top: 200px;
    margin: auto;
    border-radius: 16px;
    padding: 100px;


}




.three-dvi {
    max-width: 920px;
    height: 300px;
    display: flex;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 100px;


}


.coming-p {
    font-weight: 400;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
}


.coming {
    font-weight: 900;
    font-size: 48px;
    color: #070211;
}


.offer-h {
    font-weight: 500;
    font-size: 24px;
    color: #F00;
}

.div-item {
    max-width: 30%;
    margin: auto;
}

.year {
    color: #F00;
    font-size: 48px;
    font-weight: 700px;
}

.year-p {
    font-weight: 400;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
}




.holiday-section {
    max-width: 920px;
    height: 300px;
    padding: 100px;
    text-align: center;
}


.holiday-sub-heading {
    font-weight: 500;
    font-size: 24px;
    color: #070211;
}

.holiday-heading {
    font-weight: 900;
    font-size: 72px;
    color: #070211;
}


.holiday-p {
    font-weight: 500;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
}

/* vector */


.vector-div {
    max-width: 1020px;
    height: 662px;
    /* border: 1px solid brown; */
    margin: auto;
    background-image: url('img/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 5px;
    position: relative;
}


.vector-img {
    width: 429px;
    height: 433px;
    background-image: url('img/Rectangle\ 1.png');
    background-position: ;
    float: right;
    background-repeat: no-repeat;
}

.vector {
    max-width: 500px;
    margin-top: 210px;
    margin-left: 20px;
}

.discount-img {
    position: absolute;
    margin-left: 450px;
    max-width: 250px;
}

.gift-p {
    font-weight: 400;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
    max-width: 75%;
}

.portfolio {
    font-weight: 900;
    font-size: 48px;
    color: #070211;
}

.best-gift {
    font-weight: 500;
    font-size: 24px;
    color: #F00;
    /* margin-top: 500px; */

}

.gift {
    max-width: 1020px;
    height: auto;
    margin: auto;
    margin-top: 30px;
}

.shows {
    max-width: 1020px;
    margin: auto;
}


.shows-img {
    max-width: 30%;
    display: flex;
    gap: 10px;
    text-align: center;
}

.fixing {
    max-width: 333.5px;
    max-height: 450px;
}



.newsletter {
    max-width: 1020px;
    height: 600px;
    background-color: rgba(255, 0, 0, 0.05);
    margin: auto;
    margin-top: 60px;
}

.newsletter-img {
    align-items: center;
    justify-content: center;
    display: flex;


}


.newsletter-p {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
}

.newsletter-headding {
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    color: #070211;
}

.email-set-up {
    text-align: center;
}

.emails {
    border: none;
    padding: 5px 10px;
    border-radius: 5px 0px 0px 5px;

}

.submit {
    background-color: #F00;
    border: none;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
}

/* footer */


.footers {
    margin-top: 20px;
    background-color: #070211;
    width: auto;
    height: 400px;
}

.addres-number{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.addres {
    max-width: 50%;
    text-align: left;
    color: #ffffff;
    width: auto;
    height: 50px;
    margin-left: 50px;

}

.number {
    max-width: 50%;
    width: auto;
    height: 50px;
    text-align:center;
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    margin-top: 30px;
}

.call{
    text-align:center;
}
.call-number{
    text-align:center;
color: #ffffff;
}

.twitter{
    margin-top: 100px;
    text-align: center;
}